/* _________________________________navbar_______________________________ */
.navbar {
  background-color:#124B68 ;
  padding: 0 !important;
  font-size: 10pt;
  font-weight: 200;
}
.navbar-nav{
  margin: auto;
}
.nav-link{
  color: #ffffff !important;
  margin-left: 10px;
  margin-right: 10px;
}
/* ________________________________register and login div______________________ */
.registerAndLogin {
  padding-right:24px ;
  color:#124B68 ;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(168,166,162));
  font-weight: 450;
  font-size: 12pt;
width: 100%;
float: left;
position:fixed;
top:36px;
width:100%;
z-index:100;
font-size: 10pt;
font-weight: 300;

}
.registerAndLogin p {

  margin: 0;
  margin-left:20px;
  margin-bottom: 2px;
  display: inline;
float: right;
}

/* ________________________carousel______________________ */
.carousel {
  height: 100%;
}
.top-right{
  position: absolute;
  top: 100px;
  right: 0;
  left: 50%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: royalblue;
  text-align: center;
}
.carousel img {
  width: 100%;
  height: 100vh;
}

/* section 2 left panel _________________________________________________ */

.bg-section2{
  background: #a8a6a2;
  /* height: 100vh; */
  /* padding: 0.1rem 0; */
  padding: 1px;
  vertical-align: middle;
}
.left-panel{
  margin: 100px;
  width: 400px;
  height: auto;
}
/* SECTION 3__________________________________________ */
.services{
  background-image: url(./images/ImageTemp2.jpg);
  background-color: transparent;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.services-center {
  margin: 0 auto;
  display: inline; 
}
.services span img{
  display: inline-block;
  width: 300px;
  height: 300px;
}
.services p{
  width: 300px;
  margin: auto;
  background-color: rgba(255,255,255,.3);
}
.services h6{
  background-color: rgba(255,255,255,.3);
  margin: 0;
}
.services-shadow-bg {
  background-color: rgba(255,255,255,.3);
    /* border-radius: 20px; */
    padding: 20px 40px;
    width: fit-content;
    display: inline-block;
    margin: 100px 0;
}

